@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
  --primary-color: #EFC69B;
  --secondary-color: #AF1B3F;
  --accent-color: #473144;
  --text-dark: #333;
  --text-light: #ebebeb;
  --body-font: Helvetica, Arial, sans-serif;
  --headline-font: "Mooli", serif;
}

body {
  font-family: var(--body-font);
  color: var(--text-dark);
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 1rem;
  color: var(--accent-color);
}

.main-nav {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: end;
  list-style: none;
  padding: 1rem;
  margin: 0;
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  background-color: #fff;
}

.main-nav li {
  padding: 0 1rem;
}

.main-nav a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
}
.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}



.book {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-content: center;
}




.filters {
  border: 2px solid #78C0E0;
  margin: 15px;
}

.metadata {
  border-right: 1px solid black;
  padding: 10px;
}

.content {
  padding: 10px;
}